body {
  background-color: #faf7fc;
}
.container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  color: #680cea;
}
